{% load static %}
<header class="header">
    <div class="header-left">
        <div class="kb-logo">
            <img src="{% static 'images/KB_logo.png' %}" alt="KB국민은행" class="kb-logo-img">
            <span class="system-name">x</span>
            <img src="{% static 'images/FinAissist.png' %}" alt="FinAissist" class="finaissist-logo">
        </div>
    </div>
    <div class="header-right">
        <span class = "logout-btn">로그아웃</span>
        <span class="version">v1.0.0</span>
    </div>
</header>
