// KB국민은행 직원 업무시스템 - 대시보드 SCSS

// 변수 import
@import 'variables';

// 간단한 대시보드 스타일
.dashboard-container {
    padding: ptr(20px);
    height: calc(100vh - #{$total-header-footer-height});
    display: flex;
    flex-direction: column;
  
    .dashboard-content {
        display: flex;
        flex-direction: row;
        gap: ptr(20px);
        width: 100%;
        flex: 1; // 남은 공간 모두 사용

        .first-column {
            flex: 1;
            height: 100%;
            width: 100%;
            background-color: red;
        }
        .second-column {
            flex: 1;
            height: 100%;
            width: 100%;
            background-color: yellow;
        }
        .third-column {
            flex: 1;
            height:100%;
            width: 100%;
            background-color: green;
        }
        .fourth-column {
            flex: 1;
            height: 100%;
            width: 100%;
            background-color: blue;
        }
    
    }
}

// 반응형 디자인
@include mobile {
    .dashboard-container {
        padding: ptr(10px);
    }
    
    .dashboard-content {
        padding: ptr(20px);

    }
}