@import '../base';
@import '../partials/team_channel_column';
@import 'chat_history_column';
@import 'chat_pdf_column';
@import 'main_chatbot_column';
@import '../common/error_pages';

.chatbot_container {
    display: flex; 
    flex-direction: column;
    flex: 1;
    min-height: 0;
    height: calc(100vh - #{$header-height} - #{$footer-height});
    
    .chatbot_content {
        display: grid;
        grid-template-columns: 0fr ptr(240px) 1fr ptr(240px);
        width: 100%;
        flex: 1;
        min-height: 0;
        
        .main_chatbot_column {
            width: 100%;
            grid-column: 3;
            min-height: 0;
            padding: 0 0 ptr(20px) 0;
            display: flex;
            flex-direction: column;
            background-color: white;
        }

    }
}