{% extends 'base.html' %}
{% load static %}

{% block title %}KB국민은행 직원 업무시스템 - 대시보드{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<!-- Simple Dashboard -->
<div class="dashboard-container">
    <div class="dashboard-content">
        <div class="first-column">

        </div>
        <div class="second-column">

        </div>
        <div class="third-column">

        </div>
        <div class="fourth-column">

        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}