<!-- Notification Widget -->
<div class="notification-widget">
    <div class="notification-header">
        <div class="header-left">
            <span class="header-icon">
            </span>
            <span class="header-title">알림 & 공지사항</span>
        </div>
       
    </div>
    
    <div class="notification-list">
        <div class="notification-item urgent">
            <div class="notification-content">
                <div class="notification-title urgent">공지</div>
                <span class="notification-message">시스템 점검 예정 (오늘 오후 11시~12시)</span>
                <span class="notification-time">5분 전</span>
            </div>
        </div>
        
        <div class="notification-item info">
            <div class="notification-content">
                <div class="notification-title info">신규</div>
                <span class="notification-message">KB 스마트뱅킹 2.0 출시 안내</span>
                <span class="notification-time">1시간 전</span>
            </div>
        </div>
        
        <div class="notification-item warning">
            <div class="notification-content">
                <div class="notification-title warning">보안</div>
                <span class="notification-message">의심스러운 로그인 시도 감지</span>
                <span class="notification-time">3시간 전</span>
            </div>
        </div>
        
        <div class="notification-item success">
            <div class="notification-content">
                <div class="notification-title success">업데이트</div>
                <span class="notification-message">보안 시스템 업데이트가 완료되었습니다</span>
                <span class="notification-time">2시간 전</span>
            </div>
        </div>
    </div>
</div>
